<div class="contacts-header table-bordered">
  <div class="pull-left">
    <h3 class="list-group-item-heading">Contacts</h3>
  </div>
  <button class="btn btn-success pull-right">New Contact</button>
</div>
<div class="list-group-item clearfix">
  <a href="#" class="list-group-item clearfix" *ngFor="let contact of contacts">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ contact.name }}</h4>
    </div>
    <span class="pull-right">
      <img
        class="img-responsive"
        [src]="contact.imageUrl"
        [alt]="contact.name"
        style="max-height: 50px"
      />
    </span>
  </a>
</div>
